.loading-block {
    z-index: 9999999999;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(51, 51, 51, .6);
    display: flex;
    align-items: center;
}

.loading-block .loading-close {
    display: none;
    position: absolute;
    top: 15px;
    right: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    font-size: 30px;
    font-weight: 700;
}

@keyframes bean-xw-1 {
    0% { transform: rotate(0deg); -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); }
    50% { transform: rotate(-45deg) ; -webkit-transform: rotate(-45deg) ; -moz-transform: rotate(-45deg) ; -ms-transform: rotate(-45deg) ; -o-transform: rotate(-45deg) ; }
    100% { transform: rotate(0deg) ; -webkit-transform: rotate(0deg) ; -moz-transform: rotate(0deg) ; -ms-transform: rotate(0deg) ; -o-transform: rotate(0deg) ; }
}

@keyframes bean-xw-2 {
    0% { transform: rotate(180deg) }
    50% { transform: rotate(225deg) }
    100% { transform: rotate(180deg) }
}

.bean-xw > div:nth-child(2) {
    transform: translate(-15px,0);
}

.bean-xw > div:nth-child(2) div {
    position: absolute;
    top: 60px;
    left: 60px;
    width: 180px;
    height: 90px;
    border-radius: 180px 180px 0 0;
    background: #ffd801;
    animation: bean-xw-1 1.4285714285714284s linear infinite;
    transform-origin: 90px 90px;
    -webkit-animation: bean-xw-1 1.4285714285714284s linear infinite;
}

.bean-xw > div:nth-child(2) div:nth-child(2) { 
    animation: bean-xw-2 1.4285714285714284s linear infinite; 
    -webkit-animation: bean-xw-2 1.4285714285714284s linear infinite;
}

.bean-xw > div:nth-child(2) div:nth-child(3) { 
    transform: rotate(-90deg); animation: none; 
    -webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg); 
    -ms-transform: rotate(-90deg); -o-transform: rotate(-90deg);
}

@keyframes bean-xw-3 {
    0% { transform: translate(285px,0); opacity: 0 }
    20% { opacity: 1 }
    100% { transform: translate(105px,0); opacity: 1 }
}

.bean-xw > div:nth-child(1) {
    display: block;
}

.bean-xw > div:nth-child(1) div {
    position: absolute;
    top: 138px;
    left: -12px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #ffd801;
    animation: bean-xw-3 1.4285714285714284s linear infinite;
    -webkit-animation: bean-xw-3 1.4285714285714284s linear infinite;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.bean-xw > div:nth-child(1) div:nth-child(1) { 
    animation-delay: -0.4690000000000001s 
}

.bean-xw > div:nth-child(1) div:nth-child(2) { 
    animation-delay: -0.23100000000000004s 
}

.bean-xw > div:nth-child(1) div:nth-child(3) { 
    animation-delay: 0s 
}

.loading-bean {
    width: 300px;
    height: 300px;
    display: inline-block;
    overflow: hidden;
    margin: 0 auto;
}

.bean-xw {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
}

.bean-xw div { 
    box-sizing: content-box; 
}